body {font-family: Arial, Helvetica, sans-serif;
    
   }
form {border: 3px solid #f1f1f1;}

.bg-image {
    /* The image used */
    background-image: url("bg_image.jpeg");

    color:black;

    /* Center and scale the image nicely */
    
    background-repeat: no-repeat;
    background-size: 2000px;
   
    padding-top:50px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    color: #fff;
    border-color: #0067b8;
    background-color: #0067b8;
    display: block;
    width: 100%;

}

button:hover {
    opacity: 0.8;
}


.imgcontainer {
    text-align: left;
    margin: 24px 0 12px 0;
}

img.logo {
    width: 40%;
    padding-left:20px;
    border-radius: 20%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

a{
    text-decoration: none;
}

#underline a:hover{
    text-decoration: underline;
}

input:focus{
    outline: none;
    border-bottom-color: #055fa3;
}
